.card {
  display: flex;
  padding: 15px;
  width: 100%;
  text-align: center !important;
}

.alert-color {
  color: #c6c6c6;
  border-color: var(--abpl-primary, #316080);
  background-color: var(--abpl-primary-darker, #254962);
}
