.footer {
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 1em;
  color: #bdbac0;
  text-align: center;
  border: 1px solid var(--abpl-primary-border, darkgrey);
  border-bottom: none;
  background-color: var(--abpl-primary, midnightblue);
  border-radius: 0.25rem 0.25rem 0 0;
}

.footer-links {
  padding-left: 0;
  margin-bottom: 2em;
}

.footer-links li {
  display: inline-block;
}

.footer-links li + li {
  margin-left: 15px;
}

.footer p,
.footer a {
  color: var(--abpl-primary-link, #eee);
}
