<div class="footer">
  <div class="container">
    <ul class="footer-links"> <!--TODO: link url to fill-->
      <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
      <li><a href="https://facebook.com/" target="_blank">Facebook</a></li>
      <li><a href="https://github.com/JulienMrgrd/Projet-ABPL" target="_blank">GitHub</a></li>
      <li><a (click)="openLegalMentionsDialog()">Mentions légales</a></li>

      <li ngbPopover="Changez de couleur" triggers="mouseenter:mouseleave">
        <jhi-color-picker [modalMode]="true"></jhi-color-picker>
      </li>
    </ul>
    <p>
      Réalisé avec beaucoup d'amour par le
      <a href="https://www.u-cergy.fr/fr/ufr-sciences-et-techniques/departement-de-biologie/les-formations/master-bioc2m.html" target="_blank">Master BioC2M</a>
      et
      <a href="https://www.linkedin.com/in/julien-margarido/" target="_blank">Julien Margarido</a>

    </p>
    <p>
      Mentions spéciales pour
      <a href="#" style="cursor: default;" >l'équipe pédagogique BioC2M</a> et
      <a href="#" style="cursor: default;" >Mme Lindsay ALCARAZ</a>.
    </p>

  </div>
</div>
