.bs-docs-footer {
    padding-top: 2em;
    padding-bottom: 3em;
    margin-top: 2em;
    color: #99979c;
    text-align: center;
    background-color: #353d47;
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 2em;
}
.bs-docs-footer-links li {
    display: inline-block;
}
.bs-docs-footer-links li + li {
    margin-left: 15px;
}
@media (min-width: 768px) {
    .bs-docs-footer {
        text-align: left;
    }
}
.bs-docs-footer a {
    color: #c6c6c6;
}
