<div class="bs-docs-footer">
    <div class="container">
        <ul class="bs-docs-footer-links">
            <li><a href="https://github.com/JulienMrgrd/ProjetABPL" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
            <li><a href="https://facebook.com/" target="_blank">Facebook</a></li>
            <li><a href="#">A Propos</a></li>
        </ul>
        <p>
            Réalisé avec beaucoup d'amour par le
            <a href="https://www.u-cergy.fr/fr/ufr-sciences-et-techniques/departement-de-biologie/les-formations/master-bioc2m.html" target="_blank">Master BioC2M</a>
            et
            <a href="https://www.linkedin.com/in/julien-margarido/" target="_blank">Julien Margarido</a>

        </p>
        <p>
            Mention spéciale pour
            <a href="#" target="_blank" rel="license">Mme YYY yyy</a> et
            <a href="#" target="_blank" rel="license">Mr XXX xxx</a>
        </p>
    </div>
</div>
