.bs-docs-footer {
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 1em;
  color: #bdbac0;
  text-align: center;
  background-color: var(--abpl-primary, #353d47);
  border-radius: 0.25rem;
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 2em;
}

.bs-docs-footer-links li {
  display: inline-block;
}

.bs-docs-footer-links li + li {
  margin-left: 15px;
}

.bs-docs-footer a {
  color: #c6c6c6;
}
