<div class="result-responses" *ngIf="question">

  <div class="row title-question">
    <section class="section ml-3 {{(question.image || question.video) ? 'col-md-6' : 'col-md-10'}}">
      <h3 class="font-weight-normal">{{index != -1 ? index + 1 + '.&nbsp;' : ''}}
        <span [innerHTML]="question.name"></span>
      </h3>
    </section>

    <section class="section col-md-5" *ngIf="question.image">
      <img [src]=getMediaUrl(question.image) class="center-section">
    </section>

    <section class="section col-md-5" *ngIf="question.video">
      <video controls class="center-section">
        <source [src]=getMediaUrl(question.video) type="video/mp4">
        Votre navigateur n'a pas l'air de supporter ce format vidéo...
      </video>
    </section>
  </div>

  <div class="row quiz-choices">
    <section class="section col-md-6 {{disabled ? 'disabled' : ''}}" *ngFor="let option of question.options; let i = index">
      <div class="form-check" *ngIf="!utils.isSimpleChoice(question)"> <!-- checkboxes -->
        <label>
          <input *ngIf="utils.isCorrectButNotSelectedOption(option); else otherOptionCases" class="checkbox-black" type="checkbox" name="check-{{option.id}}" checked>
          <ng-template #otherOptionCases>
            <input class="checkbox-{{ utils.isCorrectOption(option) ? 'green' : 'red'}}"
                   type="checkbox" name="check-{{option.id}}" [(ngModel)]="option.selected">
          </ng-template>
          <div class="label-text">
            {{formatUtil.getLetter(i)}}.&nbsp;
            <span *ngIf="option.name">{{option.name}}</span>
            <img *ngIf="option.image && option.image.length > 0" [src]=getMediaUrl(option.image)>
          </div>
        </label>
      </div>

      <div class="form-check" *ngIf="utils.isSimpleChoice(question)"> <!-- radio buttons -->
        <label>
          <input class="radio-{{ utils.isCorrectOption(option) ? 'green': 'red'}}" type="radio" [checked]="option.selected">
          <div class="label-text">
            {{formatUtil.getLetter(i)}}.&nbsp;
            <span *ngIf="option.name">{{option.name}}</span>
            <img *ngIf="option.image && option.image.length > 0" [src]=getMediaUrl(option.image)>
          </div>
        </label>
      </div>
    </section>
  </div>
  <div class="m-2 alert alert-response {{ utils.isCorrect(question) ? 'alert-success': 'alert-danger'}}">
    <span *ngIf="!utils.isCorrect(question); else right"><strong>Faux.</strong><br>
      <span [ngPlural]="utils.getAnswers(question).length">
        <ng-template ngPluralCase="=0">Aucune bonne réponse.</ng-template>
        <ng-template ngPluralCase="=1">La bonne réponse était :
          <i *ngIf="utils.getAnswers(question)[0].name">"{{utils.getAnswers(question)[0].name}}"</i>
          <img *ngIf="utils.getAnswers(question)[0].filename" [src]=getMediaUrl(utils.getAnswers(question)[0].filename)>
        </ng-template>
        <ng-template ngPluralCase="other">Les bonnes réponses étaient : <br>
          <ul class="response-list">
            <li *ngFor="let ans of utils.getAnswers(question)">
               <i *ngIf="ans.name">{{ans.name}}</i>
               <img *ngIf="ans.filename" [src]=getMediaUrl(ans.filename)>
            </li>
          </ul>
        </ng-template>
      </span>
    </span>
    <ng-template #right><strong>Vrai.</strong></ng-template>
  </div>
  <div class="m-2 alert alert-dark explanation" *ngIf="question.explanation || question.explanation_image || question.explanation_video">
    <span><b>Explication :&nbsp;</b></span>
    <span *ngIf="question.explanation && question.explanation.length > 0" [innerHTML]=question.explanation></span>
    <section class="section" *ngIf="question.explanation_image && question.explanation_image.length > 0">
      <img [src]=getMediaUrl(question.explanation_image)>
    </section>

    <section class="section" *ngIf="question.explanation_video && question.explanation_video.length > 0">
      <video controls>
        <source [src]=getMediaUrl(question.explanation_video) type="video/mp4">
        Votre navigateur n'a pas l'air de supporter ce format vidéo...
      </video>
    </section>

    <p class="mt-4 mb-0" *ngIf="question.revision">
      <a href="#" target="_blank" [routerLink]="['/revision/', question.revision]">
        <strong>Pour aller plus loin</strong>
      </a>
    </p>
  </div>
</div>
