version: '2'
services:
    projetabpl-app:
        image: projetabpl
        environment:
            - _JAVA_OPTIONS=-Xmx512m -Xms256m
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:mysql://projetabpl-mysql:3306/projetabpl?useUnicode=true&characterEncoding=utf8&useSSL=false
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
    projetabpl-mysql:
        extends:
            file: mysql.yml
            service: projetabpl-mysql
