version: '2'
services:
    projetabpl-app:
        image: projetabpl
        environment:
            - _JAVA_OPTIONS=-Xmx512m -Xms256m
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:postgresql://projetabpl-postgresql:5432/ProjetABPL
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
    projetabpl-postgresql:
        extends:
            file: postgresql.yml
            service: projetabpl-postgresql
