<div class="modal-header">
  <h4 class="modal-title w-100 text-center">Mentions légales</h4>
  <button aria-label="Close" data-dismiss="modal" class="close" type="button"
          (click)="activeModal.dismiss('closed')"><span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li><b>Nom de l’association :</b> BioC2M</li>
    <li><b>Adresse physique :</b> 2, av. Adolphe-Chauvin, BP 222, Pontoise - 95302 Cergy-Pontoise cedex</li>
    <li><b>Url :</b> https://projet-abpl.herokuapp.com</li>
    <li><strong>Téléphone :</strong> 01 34 25 66 12</li>
    <li><b>Président de l’association :</b></li>
    <li><b>Directeur de la publication :</b></li>
    <li><b>Adresse mail de contact : </b>Bioc2m.ABPL@gmail.com</li>
    <li><b>Hébergement du site web :</b> Heroku</li>
  </ul><br>
  <p>
    Collecte des données personnelles :<br>
  </p>
  <p>
    - Responsable du fichier : administrateur de l’association déclaré en préfecture.
  </p>
  <p>
    - Aucune collecte de données à caractère personnel n'est effectuée sur ce site.
    Les autres données ne sont pas stockées sur le site et ne demeurent accessibles qu’aux administrateurs de l’association pour
    l’usage exclusif de l’association. Aucune donnée à caractère personnel ne sera communiquée
    par l’association à un tiers sans l’obtention de son consentement éclairé et pour un motif
    valable (par exemple communication de coordonnées de professionnels envers les étudiants
    ou inversement).
  </p>
  <p>
    - Les données à caractère personnel n’ont pas pour but de constituer un fichier cessible
    gratuitement ou contre paiement à toute entité dont l’objectif serait exclusivement
    commercial.
  </p>
  <p>
    - Les données à caractère personnel n’ont pas pour but de constituer une source pour toute
    étude statistique de la part d’un organisme privé ou public à des fins lucratives ou de
    discrimination.
  </p>
  <p>
    - Selon le règlement général relatif à la protection des données, les adhérents peuvent
    demander l’accès, la rectification, l’effacement de leurs données à caractère personnel. Ces
    demandes pourront être adressées par courrier ou par mail aux coordonnées indiquées dans
    l’espace « <b>Nous contacter</b> ».
  </p>
</div>
