<nav class="navbar navbar-dark navbar-expand-md jh-navbar fixed-top">
    <div class="jh-logo-container float-left">
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span class="navbar-title">Projet ABPL</span> <span *ngIf="version" class="navbar-version">{{version}}</span>
        </a>
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
          <fa-icon [icon]="'bars'"></fa-icon>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                ngbPopover="Désactivé pour l'instant..."
                [autoClose]="'outside'" triggers="mouseenter:mouseleave">
              <a class="nav-link disabled" routerLink="/quiz/revision" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'book-open'"></fa-icon>
                        <span>Révisions</span>
                    </span>
              </a>
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link dropdown-toggle" ngbDropdownToggle #dropDown href="javascript:void(0);">
                  <span>
                      <fa-icon [icon]="'dumbbell'"></fa-icon>
                      <span>Entraînement</span>
                  </span>
              </a>
              <ul class="dropdown-menu" ngbDropdownMenu *ngIf="subMenus">
                <li class="dropdown-submenu" *ngFor="let category of getSubMenusCat()">
                  <a class="dropdown-item" (click)="goToQuiz(category); collapseNavbar()">
                    <span>{{category.name}}</span>
                  </a>
                  <!--TODO MULTI-SELECT <ul class="dropdown-menu" ngbDropdownMenu *ngIf="subMenus.has(category)">
                    <li *ngFor="let quiz of getSubMenusQuizes(category)">
                      <a class="dropdown-item" routerLink="['/quiz/training/', {{quiz.name}}]" routerLinkActive="active" (click)="collapseNavbar()">
                        <span>{{quiz.name}}</span>
                      </a>
                    </li>
                  </ul>-->
                </li>
                <!--TODO MULTI-SELECT <li><a class="dropdown-item" href="#">HTML</a></li>
                <li class="dropdown-submenu">
                  <a class="test dropdown-item" ngbDropdownToggle
                     (click)="$event.stopPropagation(); myDrop.open();" href="javascript:void(0);">
                    <span>name1</span>
                  </a>
                  <ul class="dropdown-menu" ngbDropdown #myDrop="ngbDropdown">
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" (click)="collapseNavbar()">
                        <span>subName</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" (click)="collapseNavbar()">
                        <span>subName</span>
                      </a>
                    </li>
                  </ul>
                </li>-->
              </ul>
            </li>

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/quiz/test" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'graduation-cap'"></fa-icon>
                        <span>Test blanc</span>
                    </span>
                </a>
            </li>

            <!-- TODO: Celui-ci devrait être activé par les profs via un écran -->
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                ngbPopover="Celui-ci devra être activé par les profs via un écran"
                [autoClose]="'outside'" triggers="mouseenter:mouseleave">
              <a class="nav-link disabled" routerLink="/quiz/exam" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'graduation-cap'"></fa-icon>
                        <span>Examen</span>
                    </span>
              </a>
            </li>

            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <!--<li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer disabled" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                ngbPopover="Désactivé pour l'instant..." triggers="mouseenter:mouseleave">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon [icon]="'th-list'"></fa-icon>
                        <span>
                            Entités
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    &lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;
                </ul>
            </li>-->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span>Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                            <span>User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon>
                            <span>Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon>
                            <span>Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon>
                            <span>Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon>
                            <span>API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <fa-icon [icon]="'hdd'" [fixedWidth]="true"></fa-icon>
                            <span>Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon [icon]="'user'"></fa-icon>
                    <span>
                      Compte
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                            <span>Paramètres</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                            <span>Mot de passe</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Déconnexion</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Connexion</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false"
                        ngbPopover="Désactivé pour l'instant..." triggers="mouseenter:mouseleave">
                        <a class="dropdown-item disabled" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                            <span>Inscription</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
