/* ==========================================================================
Main page styles
========================================================================== */

.mb-abpl {
  max-height: 90%;
}

.main_abpl2 {
  height: 350px;
  background: url('../../content/images/main_abpl.png') no-repeat center;
  background-size: contain;
}

.center-section {
  margin: auto;
}

.body_pr_bio_abpl {
  width: auto;
  max-width: 1200px;
  max-height: 680px;
  height: 680px;
  background: url('../../content/images/main_pr_bio.png') no-repeat center transparent;
  background-size: contain;
}

@media screen and (max-width: 794px) {
  .body_pr_bio_abpl {
    background: url('../../content/images/main_pr_bio_mobile.png') no-repeat center transparent;
    background-size: contain;
  }
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .abpl {
    background: url('../../content/images/body_abpl.png') no-repeat center whitesmoke;
    background-size: contain;
  }
}

/* ==========================================================================
Custom
========================================================================== */
.home-card {
  padding: 10px 200px;
}

@media (min-width: 768px) {
  .card-block > .row:first-child {
    margin-top: 10px;
  }

  .card-block > .row:not(:first-child) {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .card-block > .row:not(:first-child) {
    margin-top: 0;
  }
}

.alert {
  min-width: 300px;
}

@media (max-width: 1400px) {
  .home-card {
    padding: 10px;
  }
}

.be-careful {
  color: red;
  font-weight: 500;
}
