<div class="row">
    <div class="col-md-3">
        <span class="abpl img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <section class="section">
            <div class="container-fluid">
                <h1 class="display-5">Bienvenue,</h1>
                <h2 class="display-10">futur certifié de laboratoire !</h2>
            </div>
        </section>

        <br/> <!-- FIXME use margin -->
        <br/>

        <section class="section">
            <div class="container-fluid">
                <div class="alert alert-info">
                    <p class="lead">Ceci est, comme tu l'as sans doute deviné... ta page d'accueil.</p>
                </div>
            </div>
        </section>

        <br/> <!-- FIXME use margin -->
        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>

        <!-- FIXME disabled for the moment
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
        -->

    </div>
</div>
