@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

label,
img {
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  right: 9000px;
}

/*Check box*/
input[type='checkbox'] + .label-text:before {
  content: '\f096';
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

input[type='checkbox']:checked + .label-text:before {
  content: '\f14a';
  color: #2980b9;
  animation: effect 250ms ease-in;
}

input[type='checkbox']:disabled + .label-text {
  color: #aaa;
}

input[type='checkbox']:disabled + .label-text:before {
  content: '\f0c8';
  color: #ccc;
}

input.checkbox-red[type='checkbox']:checked + .label-text:before {
  color: #990000;
}

input.checkbox-yellow[type='checkbox']:checked + .label-text:before {
  color: #face00;
}

input.checkbox-green[type='checkbox']:checked + .label-text:before {
  color: #008000;
}

input.checkbox-blue[type='checkbox']:checked + .label-text:before {
  color: #428bca;
}

input.checkbox-black[type='checkbox']:checked + .label-text:before {
  color: #000000;
}

/*Radio box*/

input[type='radio'] + .label-text:before {
  content: '\f10c';
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

input[type='radio']:checked + .label-text:before {
  content: '\f192';
  color: #8e44ad;
  animation: effect 250ms ease-in;
}

input[type='radio']:disabled + .label-text {
  color: #aaa;
}

input[type='radio']:disabled + .label-text:before {
  content: '\f111';
  color: #ccc;
}

input.radio-red[type='radio']:checked + .label-text:before {
  color: #990000;
}

input.radio-yellow[type='radio']:checked + .label-text:before {
  color: #face00;
}

input.radio-green[type='radio']:checked + .label-text:before {
  color: #008000;
}

input.radio-blue[type='radio']:checked + .label-text:before {
  color: #428bca;
}

input.radio-black[type='radio']:checked + .label-text:before {
  color: #000000;
}

/*Radio Toggle*/

.toggle input[type='radio'] + .label-text:before {
  content: '\f204';
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 10px;
}

.toggle input[type='radio']:checked + .label-text:before {
  content: '\f205';
  color: #16a085;
  animation: effect 250ms ease-in;
}

.toggle input[type='radio']:disabled + .label-text {
  color: #aaa;
}

.toggle input[type='radio']:disabled + .label-text:before {
  content: '\f204';
  color: #ccc;
}

.toggle input.radio-red[type='radio']:checked + .label-text:before {
  color: #990000;
}

.toggle input.radio-yellow[type='radio']:checked + .label-text:before {
  color: #face00;
}

.toggle input.radio-green[type='radio']:checked + .label-text:before {
  color: #008000;
}

.toggle input.radio-blue[type='radio']:checked + .label-text:before {
  color: #428bca;
}

.toggle input.radio-black[type='radio']:checked + .label-text:before {
  color: #000000;
}

@keyframes effect {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
