<!-- ================================
    ============ CHOICE =========== -->
<!--
<div class="row" *ngIf="quiz">
  <div class="col-12 text-right">
    Difficulté:
    <select [(ngModel)]="quizId" (change)="loadQuiz(quizId)">
      <option *ngFor="let quiz of quizes" [value]="quiz.id" [disabled]="quiz.name !== 'Moyen'"> &lt;!&ndash;TODO: disabled to remove&ndash;&gt;
        <span>{{quiz.name}}</span>
      </option>

    </select>
  </div>
</div>
-->

<!-- ================================
    ============= QUIZ ============ -->
<div class="card card-frame quiz-card" *ngIf="quiz">
  <div class="card-block">
    <div id="quiz">
      <div *ngIf="mode == quizModeEnum.QUIZ">
        <h2 class="text-center font-weight-normal">
          <span *ngIf="!testMode">Quiz: {{quiz.name}}</span>
          <span *ngIf="testMode">Test blanc</span>
        </h2>
        <h4 class="text-center" *ngIf="!testMode && quiz.description">
          Description :
          <span class="font-italic">{{quiz.description}}</span>
        </h4>
        <hr/>
        <div *ngIf="currentQuestion">
          <div class="badge badge-info">Question {{pager.index + 1}} sur {{pager.count}}.</div>

          <!--TODO: timer-->
          <div *ngIf="config.showClock" class="badge badge-info float-right">Temps total: {{ellapsedTime}}
            <span *ngIf="config.duration">&nbsp;/&nbsp;{{config.duration}} minutes</span>
          </div>

          <div class="row title-question" *ngIf="currentQuestion.image; else onlyQuestion">
            <section class="section col-md-6">
              <h3 class="font-weight-normal">{{pager.index + 1}}.
                <span [innerHTML]="currentQuestion.name"></span>
              </h3>
            </section>
            <section class="section col-md-6" *ngIf="currentQuestion.image">
              <span class="badge badge-img">{{currentQuestion.image}}</span>
            </section>
          </div>
          <ng-template #onlyQuestion>
            <h3 class="title-question font-weight-normal">{{pager.index + 1}}.
              <span [innerHTML]="currentQuestion.name"></span>
            </h3>
          </ng-template>

          <div class="row quiz-choices {{isValidated(currentQuestion) ? 'disabled' : ''}}"> <!--disabled choices if already validated-->
            <section class="section col-md-6" *ngFor="let option of currentQuestion.options; let index = index">
              <label for="check-{{index}}" *ngIf="!isSimpleChoice(currentQuestion)"> <!-- checkboxes -->
                <input type="checkbox" id="check-{{index}}" [(ngModel)]="option.selected">
                <span class="label-text">{{option.name}}</span>
              </label>

              <label for="radio-{{index}}" *ngIf="isSimpleChoice(currentQuestion)"> <!-- radio buttons -->
                <input type="radio" id="radio-{{index}}" [checked]="option.selected" [value]="option.selected"
                       (change)="onSelect($event, currentQuestion, option)">
                <span class="label-text">{{option.name}}</span>
              </label>
            </section>
          </div>
        </div>
        <hr />
        <div class="text-center">                                                            <!-- Move buttons -->
          <button type="button" class="btn btn-outline-dark" (click)="goTo(0)"
                  *ngIf="config.allowMove && config.allowBack"
                  disabled="{{pager.index != 0 ? '' : 'disabled'}}">Début</button>

          <button type="button" class="btn btn-outline-primary" (click)="goTo(pager.index - 1)"
                  *ngIf="config.allowMove && config.allowBack && pager.index != 0">Préc.</button>


          <button type="button" class="btn btn-outline-primary"
                  *ngIf="!testMode && pager.index != (pager.count-1)">

            <!--Not yet validated -->
            <span *ngIf="isAnswered(currentQuestion) && !isValidated(currentQuestion)"
                  (click)="validate(currentQuestion)">Valider</span>
            <!-- Already answered and validated-->
            <span *ngIf="!isAnswered(currentQuestion) || isValidated(currentQuestion)"
                  (click)="goToNext()">Suiv.</span>
          </button>

          <ng-template #testModeButtons>
            <button type="button" class="btn btn-outline-primary" (click)="goToNext()"
                    *ngIf="pager.index != (pager.count-1)">Valider</button>
          </ng-template>

          <button type="button" class="btn btn-outline-dark" (click)="goTo(pager.count - 1)"
                  *ngIf="config.allowMove && config.allowBack"
                  disabled="{{pager.index != (pager.count-1) ? '' : 'disabled'}}">Fin</button>
          <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
        </div>


        {{ validatedQuestions | json}}
      </div>

      <!-- ================================
          =============REVUE ============ -->
      <div class="review" *ngIf="mode == quizModeEnum.REVIEW">
        <h2 class="text-center font-weight-normal">Revue du quiz : {{quiz.name}}</h2>
        <hr />
        <div class="row text-center">
          <div class="col-md-4" *ngFor="let question of quiz.questions; let index = index">
            <ngb-alert *ngIf="isValidated(question)" type="{{isCorrect(question) ? 'success' : 'danger'}}"
                       (click)="goTo(index)" [dismissible]="false">
              <strong>{{index + 1}}.&nbsp;{{question.name}}</strong>
            </ngb-alert>

            <ngb-alert *ngIf="!isValidated(question)"  type="{{isAnswered(question) ? 'info' : 'warning'}}"
                       (click)="goTo(index)" [dismissible]="false">
              <strong>{{index + 1}}.&nbsp;{{question.name}}</strong>
            </ngb-alert>
          </div>
        </div>
      </div>

      <!-- ================================
          ============ RESULT =========== -->
      <div class="result" *ngIf="mode == quizModeEnum.RESULT">

        <h2 class="text-center font-weight-normal">
          <fa-icon [icon]="'flag-checkered'"></fa-icon>&nbsp;
          <span *ngIf="testMode">Résultats du test blanc</span>
          <span *ngIf="!testMode">Résultats du quiz : {{quiz.name}}</span>
        </h2>
        <hr/>

        <br/> <!-- FIXME use margin --><br/>
        <h2 class="text-center font-weight-bold">
          <fa-icon [icon]="'smile-wink'"></fa-icon>
          <br>
          ==== Insérer ici les pourcentages de réussite ====
        </h2>
        <hr/>
        <br/> <!-- FIXME use margin -->

        <div *ngFor="let question of quiz.questions; let index = index">
          <jhi-quiz-reponse [question]="question" [index]="index"></jhi-quiz-reponse>
          <hr *ngIf="index < quiz.questions.length - 1"/>
        </div>
      </div>
      <br/>

   <!-- ================================
       ============ BUTTONS =========== -->
      <div class="float-right" *ngIf="mode != quizModeEnum.RESULT">
        <button type="button" class="btn btn-default" *ngIf="!testMode && mode != quizModeEnum.QUIZ"
                (click)="mode = quizModeEnum.QUIZ">Retour au quiz</button>
        <button type="button" class="btn btn-info" *ngIf="config.allowReview && mode != quizModeEnum.REVIEW"
                (click)="mode = quizModeEnum.REVIEW">Revue de vos questions</button>
        <button type="button" class="btn btn-primary"
                (click)="onSubmit();">Soumettre le quiz</button>
      </div>
      <div *ngIf="mode == quizModeEnum.RESULT">
        <button type="button" class="btn btn-primary"
                (click)="reloadQuiz();">Redémarrer</button>
      </div>
    </div>
  </div>
</div>
