/**
=============================================================================
Custom
========================================================================== */
.disabled {
  pointer-events: none; /*This makes it not clickable*/
  opacity: 0.6; /*This grays it out to look disabled*/
}

.quiz-card {
  padding: 10px;
}

.title-quiz {
  margin-top: 5px;
}

.result-question {
  margin-bottom: 5px;
}

.response {
  display: inline-block;
  min-width: 25%;
}

.response-list {
  margin-top: 5px;
}

@media only screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 22px;
  }
  h2,
  .h2 {
    font-size: 20px;
  }
  h3,
  .h3 {
    font-size: 18px;
  }
  .option {
    font-size: 16px;
    padding: 6px;
  }
}
