/**
=============================================================================
Custom
========================================================================== */
b,
strong {
  font-weight: 500;
}

img {
  max-width: 430px;
  max-height: 400px;
  height: auto;
}

video {
  max-width: 580px;
  max-height: 380px;
  width: inherit;
  height: auto;
}

.label-text img,
li img {
  border: none;
  width: 60px;
  height: 60px;
}

section > img,
section > video {
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 5px;
}

section video {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.disabled {
  pointer-events: none; /*This makes it not clickable*/
  opacity: 0.6; /*This grays it out to look disabled*/
}

.quiz-card {
  min-height: 450px;
  padding: 10px;
}

.title-question {
  margin-top: 15px;
  margin-bottom: 20px;
}

.quiz,
.review,
.result {
  min-height: 400px;
}

.countdown-red {
  color: red;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border: 1px solid red;
}

.quiz-choices {
  margin-top: 5px;
  margin-left: 5px;
}

.review > hr {
  margin-bottom: 50px;
}

.review ngb-alert {
  cursor: pointer;
}

/** ====== RESULT PART ====== **/
.result-responses {
  padding-left: 10px;
  padding-right: 10px;
}

.result-img {
  max-width: 550px;
  max-height: 650px;
  width: 100%;
}

jhi-quiz-reponse + hr {
  /*right after*/
  margin-bottom: 30px;
}

.alert-response {
  display: inline-block;
}

.response.alert-danger {
  min-width: 25%;
}

.response-list {
  margin-top: 5px;
}

.explanation {
  background-color: whitesmoke;
}

.badge-img {
  color: red;
  border: 1px solid black;
}

.text-center > button {
  margin-left: 5px;
  margin-right: 5px;
}

.center-section {
  margin: auto;
}
.center-vert-section {
  margin: 0 auto;
}
.center-hor-section {
  margin: auto 0;
}

@media only screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 22px;
  }
  h2,
  .h2 {
    font-size: 20px;
  }
  h3,
  .h3 {
    font-size: 18px;
  }
  .option {
    font-size: 16px;
    padding: 6px;
  }
}
