<div class="response-modal">
  <div class="modal-header" *ngIf="question">
    <h4 class="modal-title w-100 text-center">
      <span *ngIf="!utils.isCorrect(question)">Perdu...</span>
      <span *ngIf="utils.isCorrect(question)">Gagné !</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <jhi-quiz-reponse [question]="question" [index]="index" [disabled]="true" [quizMode]="quizMode"></jhi-quiz-reponse>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-light" (click)="modal.close('close')">Ok</button>
  </div>
</div>
